* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color:black;
}

.header {
    background-color: #D8DCD0;
    color: darkgreen;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #D8DCD0;
}

.heading-ad {
    font-size: 20px;
    margin: 8px 3px;
    margin-bottom: 20px;
    background-color: #D8DCD0;
    color: darkgreen;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    font-weight: 400;
    text-align: center;
    border: 2px solid #D8DCD0;
}

a {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.ads-section {
    display: flex;
    align-items: center;
    gap: 20px; /* space between heading-ad and image */
}