* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color:black;
}

.second-heading {
    font-size: 20px;
    margin: 20px auto;
    margin-bottom: 20px;
    background-color: #F7E7CE;
    color: darkgreen;
    padding: 10px;
    border-radius: 20px;
    width: 500px;
    font-weight: 400;
    text-align: center;
    border: 2px solid #ccc;
}

a {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

